job_bot/ignore_me/
job_bot/.vscode/
job_bot/resume_folder/GabrielQuach_Resume12092023.pdf
shift_scheduler_bot/SchedulerFormApp/JSON_files/Workers.json
shift_scheduler_bot/.vscode/
shift_scheduler_bot/SchedulerFormApp/.vs/
shift_scheduler_bot/SchedulerFormApp/JSON_files/Schedules/ScheduleJan8_14.json
Data Analyst Projects/Pokemon TCG Prices/eBay Card Prices
Data Analyst Projects/Pokemon TCG Prices/artist_summary.csv
Data Analyst Projects/Pokemon TCG Prices/TCG_Script_private.py
Data Analyst Projects/Pokemon TCG Prices/TCG_ScriptGetCardArt.py
Mexico Restaurants/
Spotify Top 100/
Data Analyst Projects/Twitch Streamer Analytics/Twitch_API_Pipeline_Secret.py
Data Analyst Projects/Twitch Streamer Analytics/twitch_secret.txt