ignore_folder/*
airflow_docker/*
*_private.*
*_secret.*
*.pickle
*.env
*.log
C:\Users\Gabriel\Desktop\testt\Data Related\ReallyBigJobData_Pipeline\airflow_docker
Data Related/Pokemon TCG Prices/eBay Card Prices
Data Related/Pokemon TCG Prices/artist_summary.csv
Data Related/Pokemon TCG Prices/TCG_ScriptGetCardArt.py

Data Related/Gmail ETL/csv_data/Categorized Emails.csv
Data Related/Gmail ETL/csv_data/email_training_data.csv
Data Related/Gmail ETL/csv_data/financial_report.csv
Data Related/Gmail ETL/csv_data/account_balance_changes.csv
Data Related/Gmail ETL/csv_data/account_balance_snapshots.csv
Data Related/ReallyBigJobData_Pipeline/airflow_docker/*
!Data Related/ReallyBigJobData_Pipeline/airflow_docker/dags
!Data Related/ReallyBigJobData_Pipeline/airflow_docker/logs