/* TODO: Create custom CSS/HTML page for blocker checkbox*/

/* Hides all elements on the page by setting their display property to none.*/
* {
  display: none !important;
}

/*Purpose: Ensures that the document's structure and the article content (and its container) are visible again after the blanket hiding.*/
html,
body,
*:has(article),
article,
article * {
  display: revert !important;
}
/* Removes navigation bars, menus, or other navigational elements from view, focusing 
only on the content and  makes the article content visually appealing and 
centered, especially for reading purposes.
*/
[role='navigation'] {
  display: none !important;
}
article {
  margin: auto;
  max-width: 700px;
}
